#number-projects-nd {
    font-size: 60px;
}

#total-donations-nd {
    font-size: 60px;
}

.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}

.hidden {
    display: none;
}
    
.chart {
    margin-left:90px;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #f5f5f5;
}
.table th, .table td {
    padding: 2px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
user agent stylesheettd, th {
    display: table-cell;
    vertical-align: inherit;
}

.c3-region.alert-red {
  fill: red;
}

.c3-line-srag {
  stroke-width: 3px;
}

.c3-line-intensidade-muito-alta,
.c3-line-intensidade-alta,
.c3-line-limiar-pre-epidemico {
  stroke-width: 3px!important;
  stroke-dasharray: 10,10;
}
