# documentation
sphinx
sphinxcontrib-autoanysrc
sphinx_rtd_theme

# shell
sh

# from notebooks
jupyter
jupyter_nbextensions_configurator
bokeh
holoviews
folium
seaborn
ggplot
matplotlib

# test
flake8
