# documentation
sphinx
sphinxcontrib-autoanysrc
sphinx_rtd_theme

# shell
sh

# from notebooks
jupyter
jupyter_nbextensions_configurator
bokeh
holoviews
folium
seaborn
ggplot
matplotlib
plotly==2.5.1

# test
flake8

pandas>=0.21
numpy
flask
unidecode
sqlalchemy
psycopg2
pyyaml
cufflinks
