<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="./static/libs/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="./static/libs/keen/keen-dashboards.css">
  <link rel="stylesheet" href="./static/libs/dc/dc.min.css">
  <link rel="stylesheet" href="./static/css/custom.css">
  <link rel="stylesheet" href="./static/libs/leaflet/leaflet.css" />
  <link rel="stylesheet" href="./static/libs/c3/c3.min.css" />

<style>
.c3-line-srag {
  stroke-width: 3px;
}

.c3-line-intensidade-muito-alta,
.c3-line-intensidade-alta,
.c3-line-limiar-pre-epidemico {
  stroke-width: 3px!important;
  stroke-dasharray: 10,10;
}

</style>
</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">Flu Dashboard Prototype</a>
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row">

      <div class="col-sm-12">
        <div class="row">

          <!-- Time Chart --> 
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Filtro
              </div>
              <div class="chart-stage">
                <div style="display:inline;float:left;">
                  <strong>Per&iacute;odo (ano)</strong>:
                  <select id='year'>
                    <option value=''>2013</option>
                  </select>
                </div>
                <div style="display:inline;float:left;margin-left:20px;">
                  <div data-role="main" class="ui-content">
                    <label for="week">Per&iacute;odo (semana):</label>
                    <output id="week_display" 
                      style="display:inline;border:1px #dfdfdf solid;padding:3px;margin:3px;background:#ffffff;font-height:11px;font-size:12px;"
                    >{{current_isoweek}}</output>
                    <input type="range" id="week"
                      oninput="week_display.value=week.value"
                      value="{{current_isoweek}}" min="0" max="52" />
                      <sup>**deixe como 0 para exibir dados referente ao ano inteiro.</sup>
                  </div>
                </div>
                <input type="hidden" id="selected_state" value=""/>
              </div>
            </div>
          </div>
          <!-- Time Chart --> 
        </div>
      </div>
    </div>
    <div class="row">

      <!-- Map -->  
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Mapa de incidencia de SRAG
          </div>
          <div class="chart-stage">
            <div id="map" style="height:350px;"></div>
          </div>
        </div>
      </div>
      <!-- Map -->

      <div class="col-sm-6">
        <div class="row">

          <!-- Resources Pie -->
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Curva de Incidencia<span id="incidence-chart-title"></span>
              </div>
              <div class="chart-stage">
                <div id="weekly-incidence-curve-chart" style="height:350px;"></div>
              </div>
            </div>
          </div>
          <!-- Resources Pie -->

        </div>
      </div>
    </div>
    <div class="row">
      <!-- Time Chart --> 
      <div class="col-sm-12">
        <div class="chart-wrapper">
          <div class="chart-title">
            Tabela de Dados
          </div>
          <div class="chart-stage">
            <table id="data-table" class='table table-striped table-condensed'>
             <!-- create a custom header -->
                <thead class="header">
                    <tr class="header">
                    <th>Unidade da Federa&ccedil;&atilde;o</th>
                    <th>Incidência (por 100 mil habitantes)</th>
                    </tr>
                </thead>
            </table>
          </div>
        </div>
      </div>
      <!-- Metric 1 -->

    </div>

  </div>

  <script src="./static/libs/jquery/jquery.js"></script>
  <script src="./static/libs/bootstrap/bootstrap.min.js"></script>
  <script src="./static/libs/crossfilter/crossfilter.min.js"></script>
  <script src="./static/libs/d3/d3.min.js"></script>
  <script src="./static/libs/dc/dc.min.js"></script>
  <script src="./static/libs/queue/queue.js"></script>
  <script src="./static/libs/keen/keen.min.js"></script>
  <script src="./static/libs/leaflet/leaflet.js"></script>
  <script src="./static/libs/c3/c3.min.js"></script>

<script>

function filter_apply(filter) {
    var f=eval(filter);
    
    if (typeof(f.length) != "undefined") {} else {};
    
    if (typeof(f.top) != "undefined") {f=f.top(Infinity);} else {};
    
    if (typeof(f.dimension) != "undefined") {
        f=f.dimension(function(d) { return "";}).top(Infinity);
    } else {};
    
    return f;
}


function print_filter(filter){
    f = filter_apply(filter);
    
    console.log(
        filter + "(" + f.length + ") = " + 
        JSON.stringify(f)
    );
}

// Create Global Variables
/*var RowChart = dc.rowChart("#rowchart");*/
var LineChart = dc.lineChart("#linechart");
var DataTable = dc.dataTable("#data-table");

// Load data
var dataset = {{ data|safe }};
var br_states = {{ br_states|safe }};

var flu_colors = {
    1: 'green',
    2: 'yellow',
    3: 'orange',
    4: 'red',
};

function plot_incidence_chart(state_name, isoweek) {
    var chart = c3.generate({
        bindto: '#weekly-incidence-curve-chart',
        data: {
          url: './data/weekly-incidence-curve/' + state_name,
          names: {
              corredor_baixo: null,
              corredor_mediano: null,
              corredor_alto: null,
              srag: 'SRAG',
              limiar_pre_epidemico: 'Limiar Pré epidêmico',
              intensidade_alta: 'Intensidade Alta',
              intensidade_muito_alta: 'Intensidade Muito Alta'
          },
          types: {
              corredor_baixo: 'area',
              corredor_mediano: 'area',
              corredor_alto: 'area',
              srag: 'line',
              limiar_pre_epidemico: 'line',
              intensidade_alta: 'line',
              intensidade_muito_alta: 'line'
          },
          colors: {
            corredor_baixo: '#00ff00',
            corredor_mediano: '#ffff00',
            corredor_alto: '#ff9900',
            srag: '#000000',
            limiar_pre_epidemico: '#0000ff',
            intensidade_alta: '#00ff00',
            intensidade_muito_alta: '#ff0000'
          }
        },
        axis: {
          x: {
            label: {
              text: 'SE',
              position: 'outer-center'
            }
          },
          y: {
            label: {
              text: 'Incidência (por 100 mil habitantes)',
              position: 'outer-middle'
            }
          },
        },
        regions: [
            {start:0, end:52, class: 'alert-red'}
        ],
        grid: {                 
          x: {
           lines: [
              {value: isoweek, text: 'Semana Selecionada', position: 'middle'}
            ], show: false
          },
          y: {show: false}
        },/*
        zoom: {
          enabled: true
        },*/ /*
        subchart: {
          show: true
        },*/
        tooltip: {
          show: false
        },
        point: {
          show: false
        }
    });

}

// Create function
function Graph(data) {
    var map = L.map('map');
    map.setView([-16, -50.528742], 3);
    
    // create the tile layer with correct attribution
    var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
    var osm = new L.TileLayer(osmUrl, {minZoom: 1, maxZoom: 12, attribution: osmAttrib});
    
    function onEachFeature(feature, layer) {
        //bind click
        layer.on({
            click: function(){
                // reset line weight
                geojson_layer.eachLayer(function (_layer) {  
                    _layer.setStyle({
                        weight: 1
                    });
                });
                // bold the selected state
                layer.setStyle({
                    weight: 2
                });
                
                var state_name = feature.properties.nome;
                var isoweek = $('#week').val();
                $('#selected_state').val(state_name);
                $('#incidence-chart-title').text(' - ' + state_name);

                dc.renderAll();

                plot_incidence_chart(state_name, isoweek);
            }
        });
    }
    
    /**
     * Red if the incidence was above the high threshold for at least 5 weeks;
     * Orange if above the high threshold from 1 to 4 weeks;
     * Yellow if crossed the epidemic threshold but not the high one;
     * Green if it did not cross the epidemic threshold.
    */
    function alert_level_for_whole_year(d) {
        if (d[4] >= 5) return 4;
        if (d[4] >= 1 && d[4] < 5) return 3;
        if (d[2] >= 1 || d[3] >= 1) return 2;
        return 1;
    }
    
    // Feed it through crossfilter  
    var ndx = crossfilter(data);
    
    // for testing
    //console.log(data);
    
    //define a dimension
    //Here we will group by state
    var stateDim = ndx.dimension(dc.pluck('unidade_da_federacao'));
    var weekDim = ndx.dimension(dc.pluck('isoweek'));
    var allDim = ndx.dimension(function(d){d});
    
    var ufAlertDim = ndx.dimension(function (d) {
        //stringify() and later, parse() to get keyed objects
        return JSON.stringify({
            'uf': d['unidade_da_federacao'], 'alert': d['alert']
        });
    });

    ufAlertGroup = ufAlertDim.group();
    //this forEach method could be very expensive on write.
    ufAlertGroup.all().forEach(function(d) {
        //parse the json string created above
        d.key = JSON.parse(d.key);
    });
    
    // start the map in South-East England
    geojson_layer = L.geoJson(br_states, {
        onEachFeature: onEachFeature,
        style: function(feature) {
            l_name = feature.properties.nome;
            isoweek = $('#week').val();
            
            style_properties= {
                fillColor: '#ffffff',
                color: '#333333',
                fillOpacity: 0.5,
                weight: 1,
            };
            
            weekDim.filterAll();
            df = filter_apply(weekDim.filter(isoweek));

            $(df).each(function(i){ 
                if (l_name == df[i]['unidade_da_federacao']){
                    style_properties['fillColor'] = flu_colors[df[i]['alert']];
                    return;
                }
            });            
            return style_properties;
        }
    });
    geojson_layer.addTo(map);
    osm.addTo(map);
    
    d3.select('#week')
        .on('change', function(){ 
            isoweek = $('#week').val();
            
            style_properties = {
                fillColor: 'white',
                weight: 1
            };
            
            weekDim.filterAll();
            if(isoweek>0) {
                $("#data-table").removeClass('hidden');
                df = filter_apply(
                    weekDim.filter(isoweek)
                );
            } else {
                $("#data-table").addClass('hidden');
                $("#linechart").addClass('hidden');
                df = filter_apply(ufAlertGroup.all());
            }
            
            //print_filter(df);
            geojson_layer.eachLayer(function (layer) {  
                l_name = layer.feature.properties.nome;
                layer.setStyle(style_properties);
                if (l_name==$('#selected_state').val()) {
                    layer.setStyle({'weight': 2});
                }
                
                if(isoweek>0) {
                    $(df).each(function(i){ 
                        if (l_name == df[i]['unidade_da_federacao']){
                            layer.setStyle({
                                fillColor: flu_colors[df[i]['alert']]
                            });
                            return;
                        }
                    });
                } else {
                    alerts = {};

                    $(df).each(function(i){ 
                        if (l_name == df[i].key['uf']){
                            alerts[df[i].key['alert']] = df[i].value;
                        }
                    });

                    layer.setStyle({
                        fillColor: flu_colors[alert_level_for_whole_year(alerts)]
                    });
                }
            });

            dc.renderAll(); // render all charts on the page
            
            state_name = $('#selected_state').val();

            plot_incidence_chart(state_name, isoweek);

    });
    
    /*
    //Lets create a row chart
    RowChart.dimension(stateDim)
        .group(stateGroup)
        .width(500);
        
    RowChart.getColor = function(d, i){
        var flu_colors = {
            1: '#dfdfdf',
            2: '#ffcc00',
            3: '#ff0000',
            4: '#00ff00',
        };
        return flu_colors[d.alert];
    };
    */
    
    LineChart.dimension(allDim)
        .group(ufAlertGroup)
        .width(500)
        .x(d3.scale.linear().domain([0,20]));
    
    DataTable.dimension(weekDim)
        // data table does not use crossfilter group but rather a closure
        // as a grouping function
        .group(function(d) {
            return '';
        })
        .columns([
            dc.pluck('unidade_da_federacao'),
            dc.pluck('incidence')
        ])
        .size(100)
        .sortBy(dc.pluck('unidade_da_federacao'))
        .order(d3.ascending);
    
    dc.renderAll(); // render all charts on the page
    
}; // end graph function    

// Call function
Graph(dataset);
</script>

</body>
</html>
