html, body {
  overflow-x: hidden;
}

.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}

.hidden {
    display: none;
}

.chart {
    margin-left:90px;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #f5f5f5;
}
.table th, .table td {
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.table td {
    padding: 2px 2px 2px 20px!important;
    line-height: 12px!important;
    font-size: 12px!important;
}

input[type=search] {
    border: 1px solid #dfdfdf!important;
}

user agent stylesheettd, th {
    display: table-cell;
    vertical-align: inherit;
}

input.tab{
    margin: 0!important;
    font-size: 12px!important;
    padding: 5px;
    color: #666666;
    font-size: 12px!important;
}


input.tab.selected {
    font-weight: bold;
    color: #333333;
}

.alert-red {
  background: red;
  fill: red;
}

.alert-orange {
  background: #ff7700;
  fill: #ff7700;
}

.alert-yellow {
  background: yellow;
  fill: yellow;
}

.alert-green {
  background: green;
  fill: green;
}

.chart-extra-text{
  font-size: 10px;
  background-color:rgba(255, 255, 255, 0.5);
  padding: 5px;
}

#chart-incidence-activity-level-panel {
  position: absolute;
  z-index: 100;
  padding: 10px;
  margin-left: 80px;
}

.criteria-box {
  display: inline-block;
  padding-right: 20px;
  vertical-align: top;
}

.content-height {
  height: 450px;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.c3-region.alert-red {
  fill: red;
}

.c3-line-srag {
  stroke-width: 4px;
}

.c3-line-very-high-threshold,
.c3-line-high-threshold,
.c3-line-pre-epidemic-threshold {
  stroke-width: 2px!important;
  stroke-dasharray: 10,10;
}
.c3-line-estimated_cases {
  stroke-width: 4px!important;
  stroke-dasharray: 4,4;
}

.c3-line-ci-lower, .c3-line-ci-upper  {
  stroke-width: 4px!important;
  stroke-dasharray: 4,4;
}

.c3-shapes.c3-shapes-very-high-threshold.c3-lines.c3-lines-very-high-threshold > path {
  stroke: rgba(255, 0, 0, 255) !important;
  opacity: 0 !important;
  visibility; hidden;
}

.c3-legend-item-value line{
    stroke-width: 2px!important;
}

.c3-legend-item-estimated-cases line {
    stroke-width: 2px!important;
}

.c3-legend-item-pre-epidemic-threshold line {
    stroke-width: 2px!important;
    stroke-dasharray: 2;
}

.c3-legend-item-high-threshold line {
    stroke-width: 2px!important;
    stroke-dasharray: 2;
}

.c3-legend-item-very-high-threshold line {
    stroke-width: 2px!important;
    stroke-dasharray: 2;
}

.c3-legend-item-ci-lower line {
    stroke-width: 2px!important;
    stroke-dasharray: 2;
}

.c3-legend-item-ci-upper line {
    stroke-width: 2px!important;
    stroke-dasharray: 2;
}
