html, body {
  overflow-x: hidden;
}

html, document, body {
    margin: 0!important;
    padding: 0!important;
    background: #dfdfdf;
    line-height: 0.8;
}

iframe.super-header {
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  height: 120px;
}

.navbar {
  margin: 0!important;
  padding: 0!important;
}

.navbar-fixed {
    border-width: 0 0 1px;
    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    border-radius: 0;
}

.navbar-fixed {
    border-radius: 0;
}

.navbar-brand-custom{
    font-size: 1.25rem;
    line-height: 1;
    color: #fff;
    font-weight: bolder;
}

.hidden {
    display: none!important;
}

input[type=search] {
    border: 1px solid #dfdfdf!important;
}

input.tab{
    margin: 0!important;
    font-size: 12px!important;
    padding: 5px;
    color: #666666;
    font-size: 12px!important;
}


input.tab.selected {
    font-weight: bold;
    color: #333333;
}

.criteria-box {
  display: inline-block;
  padding-right: 20px;
  vertical-align: top;
  font-size: small;
}

.content-height {
  height: 460px;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.message-box-error {
    vertical-align: middle!important;
    text-align: center!important;
}

.div-with-bg {
   background-image: url('../img/virusbg-grey.png');
   background-size: 100%;
}

.div-with-opacity {
   background-color: rgba(245, 245, 245, 0.5);
}

.line1 {
    line-height: 1;
}
