#number-projects-nd {
    font-size: 60px;
}

#total-donations-nd {
    font-size: 60px;
}

.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}

.hidden {
    display: none;
}
    
.chart {
    margin-left:90px;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #f5f5f5;
}
.table th, .table td {
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.table td {
    padding: 2px!important;
    line-height: 12px!important;
    font-size: 12px!important;
}

input[type=search] {
    border: 1px solid #dfdfdf!important;
}

user agent stylesheettd, th {
    display: table-cell;
    vertical-align: inherit;
}

.c3-region.alert-red {
  fill: red;
}

.c3-line-srag {
  stroke-width: 3px;
}

.c3-line-intensidade-muito-alta,
.c3-line-intensidade-alta,
.c3-line-limiar-pre-epidemico {
  stroke-width: 3px!important;
  stroke-dasharray: 10,10;
}

input.tab{
    margin: 0!important;
    font-size: 12px;
    padding: 5px;
    vertical-align: bottom;
    color: #666666;
    font-size: 12px!important;
}


input.tab.selected {
    font-weight: bold;
    color: #333333;
    font-size: 14px!important;
}
